<div class="Count">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/help" routerLinkActive="active">Help</a>
    <a class="navbar-brand" routerLink="/signup" routerLinkActive="active">Signup</a>
    <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="navbar-brand" routerLink="/contact" routerLinkActive="active">Contact Us</a>

</div>
<div  class="myLogo">
  <img src="assets/img/_0120882.jpg">
</div>
<br>
<app-navbar></app-navbar>
<app-top-banner></app-top-banner>
<app-category-menu></app-category-menu>
